
<br>
<div class="d-flex justify-content-center align-items-center">
    <div class="card align-items-center p-2" style="width: 30rem;">
        <img width="200px" height="200px" [src]="contact.photo" alt="userimage">
        <div class="card-body">
            <h5 class="card-title">{{contact.name}}</h5>
            <p>Id : {{contact.id}} </p>
            <p>Mobile No : {{contact.mobile}}</p>
            <p>Email : {{contact.email}} </p>
            <p>Company : {{contact.company}}</p>
            <p>Title : {{contact.title}}</p>
            <p>Group : {{group}}</p>
        </div>
    </div>
</div>