<br> <br> <br>

<div class="container">
    <h1 class="text-center">404 error</h1>
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <img width="250px"  height="250px" src="https://media.tenor.com/pfDm8xb3ORwAAAAM/who-evaru.gif" class="align-items-center" alt="">
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-primary" routerLink="">Go Home</a>
    </div>
    
</div>

<br><br><br><br><br><br><br>