
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>
                All Contacts Page   &nbsp; &nbsp;

                <a class="btn btn-primary" routerLink="addcontact">
                    <i class="fa-solid fa-user-plus fa-fade"></i> Add New
                </a>
            </h2>
            <br>
            <p>
                This is a Dummy content : Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam illum cupiditate dicta repellat voluptatibus praesentium earum minima dolores neque, aut illo officia beatae veritatis aspernatur temporibus ratione velit maxime.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero a provident, magnam odio numquam, ullam commodi officiis possimus, omnis illum eos. Commodi, atque maiores maxime ad officiis ducimus! Rem, quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur tenetur cumque unde doloremque rem illum eos ut consequuntur odit eaque dignissimos expedita, eveniet sit inventore nihil ad quos, hic placeat.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus animi eius tenetur eos, quia rerum culpa eaque iure asperiores neque quis accusamus alias, molestias, debitis placeat! Quibusdam rerum neque repellendus?
            </p>

            <!-- search option -->
            <div class="row mt-5">
                <div class="col-lg-2 fw-bold">
                    Search Contact
                </div>
                <div class="col-lg-6">
                    <input [(ngModel)]="searchkey" placeholder="Type contact name here" type="text" class="form-control bg-info" >
                </div>
            </div>
        </div>
    </div>
</div>
 <br>

 <div *ngIf="(allcontacts | filter : searchkey : 'name').length===0 && !isloading">
    <h2 style="text-align: center; margin-top: 20px;" class="text-danger"> No Conatct Found</h2>
 </div>
 <!-- spinner for loading -->
 <div *ngIf="isloading && allcontacts.length==0" class="text-center mt-5">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
 </div>

 <!-- error message -->
 <div *ngIf="errormsg" class="alert alert-danger m-5" role="alert">
    {{errormsg}}
 </div>



 <!-- contact card -->
 <div *ngIf="!isloading && allcontacts.length>0" class="container mt-5">
    <div class="row">
        <div class="col-lg-6 mb-3" *ngFor="let contact of allcontacts | filter: searchkey : 'name' ">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <!-- image -->
                            <img width="150px" height="150px" [src]="contact.photo" alt="user image">
                        </div>
                        <div class="col-md-7">
                            <!-- content -->
                            <ul class="list-group">
                                <li class="list-group-item">Name : <span class="fw-bold"> {{contact.name}}</span></li>
                                <li class="list-group-item">Mobile : <span class="fw-bold">{{contact.mobile}}</span></li>
                                <li class="list-group-item">Email : <span class="fw-bold">{{contact.email}} </span></li>
                            </ul>
                        </div>
                        <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
                            <!-- actions -- 3 buttons -->
                            <!-- view -->
                            <a class="btn btn-warning text-light mb-1" routerLink="viewcontact/{{contact.id}}">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <!-- edit -->
                            <a class="btn btn-success text-light mb-1" routerLink="editcontact/{{contact.id}}">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <!-- delete -->
                            <button (click)="deleteContact(contact.id)" class="btn btn-danger text-light mb-1">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
 </div>